body { 
    background: rgb(21 9 9 / 80%)
  }
  .container.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      color: white;
      text-align: center;
      padding: 10px 0px;
    }
    .subtitle {
      color: white;
      text-align: center;
      width: 80%;
    }
    .img-loader  { 
      width: 90%;
      border-radius: 16px;
    }
    .container-spin-text {
      margin-top: 20px;
      
      .paragraph { 
        font-size: 1.5rem;
        color: white;
      }    
    }
    .continue { 
      width: 160px;
      height: 48px;
      border-radius: 12px;
      color: white;
      font-size: 1.2rem;    
      background-color: rgb(243 24 217 / 62%);
    }  
  }